body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.profile-container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgb(75, 75, 75);
}

.profile-container input {
    width: 95%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.profile-container h2 {
    background-color: #f4f4f4;
    border-radius: 10px;
}

button {
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
}

button:hover {
    background-color: rgb(0, 0, 0);
}
