body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.register-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(75, 75, 75);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.register-container h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #000000;
    background-color: #f4f4f4;
    border-radius: 10px;
}

input[type="text"], input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #2c2c2c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
}

button:hover {
    background-color: #000000;
}

p {
    margin-top: 20px;
}

a {
    color: #39FF14;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
