# ----------------------------
# Go
# ----------------------------
/bin/
/obj/
*.exe
*.test
*.out
/vendor/

# ----------------------------
# IDE / редакторы
# ----------------------------
.vscode/
.idea/
*.swp
*.tmp

# ----------------------------
# Логи
# ----------------------------
*.log

# ----------------------------
# Environment
# ----------------------------
.env

# ----------------------------
# Базы данных / дампы
# ----------------------------
*.db
*.sqlite
*.sql
*.sql.gz

# ----------------------------
# Временные / кэш файлы
# ----------------------------
/tmp/
/cache/
.DS_Store

# ----------------------------
# Docker
# ----------------------------
docker-compose.override.yml
*.docker

# ----------------------------
# Статические файлы, сборки фронтенда
# ----------------------------
/static/dist/
/static/build/
/node_modules/