<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание заявки</title>
    <link rel="stylesheet" href="/static/create-request.css">
</head>
<body>
    <div class="create-request-container">
        <h2>Создание заявки для игры {{ .GameTitle }}</h2>
        <form action="/requests/create_request?game_id={{ .GameID }}" method="POST">
            <select name="type" required>
                <option value="0">Короткая</option>
                <option value="1">Долгая</option>
            </select>
            <input type="text" id="age" name="age" placeholder="Возраст" required>
            <select name="sex" required>
                <option value="0">Муж</option>
                <option value="1">Жен</option>
            </select>
            <input type="text" id="prime-time" name="prime-time" placeholder="Прайм-тайм" required>
            <input type="text" id="purpose" name="purpose" placeholder="Цель" required>
            <input type="text" id="contact" name="contact" placeholder="Контакты" required>
            <button type="submit">Создать заявку</button>
        </form>
    </div>
    <script src="../js/create-request.js"></script>
</body>
</html>
