<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <div class="register-container">
        <h2>Регистрация</h2>
        <form action="../templates/login.html" method="POST">
            <input type="text" id="username" name="username" placeholder="Логин" required>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Повторите пароль" required>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <script src="../js/register.js"></script>
</body>
</html>
