<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Основная страница</title>
    <link rel="stylesheet" href="../css/requests.css">
</head>
<body>
    <div class="main-container">
        <header>
            <h1>PrototypeZ</h1>
            <div class="header-buttons">
                <button onclick="location.href='chat.html'" id="massage"><img src="сообщ.png" alt="Сообщения"></button>
                <button onclick="location.href='profile.html'" id="profile"><img src="профиля.png" alt="Профиль"></button>
                <button onclick="location.href='login.html'" id="enter">Войти</button>
            </div>
        </header>
        <button onclick="location.href='create-request.html'" id="button123">Создать заявку</button>
        <nav>
            <ul>
            </ul>
        </nav>
        <footer>
            <p>Контакты: Телефон | Telegram | Почта</p>
        </footer>
    </div>
    <script src="../js/requests.js"></script>
</body>
</html>

