body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c2bebe;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(75, 75, 75);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: 3D3D3D;
    text-align: center;
}

header {
    width: 100%;
    background-color: #c2bebe;
    height: 10%;
    border-radius: 40px;
    padding: 10px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

header .header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .header-buttons button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 20px;
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-buttons button img {
    width: 40px;
    height: 40px;
}

footer {
    width: 100%;
    margin-top: auto;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: #c2bebe;
    border-radius: 15px;
}

footer p {
    margin: 10px;
}

.chat-area {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.users-list {
    width: 250px;
    padding: 10px;
    background-color: #2d2d2d;
    border-right: 2px solid #444;
}

.users-list ul {
    list-style-type: none;
    padding: 0;
}

.users-list ul li {
    padding: 10px;
    cursor: pointer;
    background-color: #c2bebe;
    border-radius: 15px;
    margin-bottom: 15px;
}

.users-list ul li:hover {
    background-color: #444;
}

.chat-box {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    text-align: left;
}

.message {
    margin-bottom: 15px;
}

.user-name {
    font-weight: bold;
    color: #00b3b3;
}

.message-text {
    margin-left: 10px;
    color: #ccc;
}

.input-area {
    display: flex;
    align-items: center;
}

.input-area input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #444;
    color: white;
}

.input-area button {
    background-color: #0044cc;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.input-area button:hover {
    background-color: #0033aa;
}
