body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c2bebe;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(75, 75, 75);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: 3D3D3D;
    text-align: center;
}

header {
    width: 100%;
    background-color: #c2bebe;
    height: 10%;
    border-radius: 40px;
    padding: 10px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

header .header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .header-buttons button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 20px;
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-buttons button img {
    width: 40px; 
    height: 40px;
}

#enter {
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    margin: 50px;
}

#enter:hover {
    background-color: rgb(75, 75, 75);
}

footer {
    width: 100%;
    margin-top: auto;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: #c2bebe;
    border-radius: 15px;
}

footer p {
    margin: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-decoration: none;
    padding: 80px 90px; 
    background-color: #c2bebe;
    border-radius: 10px; 
    transition: background-color 0.3s, transform 0.3s; 
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1); 
}


footer {
    width: 100%;
    margin-top: auto;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: #c2bebe;
    border-radius: 15px;
}

footer p {
    margin: 10px;
}


#button123 {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    font-size: 1.2em;
}
